<div style="max-width: 600px; margin: auto; margin-top:24px;">

  <ng-container *ngIf="pokeList; else elseBlock">
    <mat-card>
      <mat-form-field appearance="fill" style="width:100%">
        <mat-label>Search</mat-label>
        <input type="search" matInput>
      </mat-form-field>

      <mat-list>
        <mat-list-item *ngFor="let pokemon of pokeList.results; let i = index" 
          matRipple
          (click)="openPokemonDetailsDialog(i + 1)"
          class="poke-list-item">
          <img matListAvatar [src]="getSpriteUrl(i + 1)" alt="image of {{pokemon.name}}">
          {{pokemon.name}}
        </mat-list-item>
      </mat-list>
    </mat-card>
    
    <mat-paginator [length]="pokeList.count"
      [pageSize]="pokeList.results.length"
      hidePageSize
      (page)="getPage($event)"
      aria-label="Select page">
    </mat-paginator>
  </ng-container>
  <ng-template #elseBlock>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>

<router-outlet></router-outlet>
